* {
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color: lightcoral;
}

.tag {
    font-size: 0.9rem;
    background-color: black;
    border-radius: 5px;
    width: 6rem;
    display: flex;
    justify-content: center;
    color: #fff;
}

.title {
    font-size: 2rem;
    font-weight: 700;
}

.card-container {
    background: #fff;
    display: grid;
    grid-template-rows: 55% 45%;
    height: 80%;
    width: 30%;
    box-shadow: 10px 10px 25px 0px #3c3c3c;
}

.img-container {
    background-image: url("../img/tree.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 10px;
    width: 36rem;
    height: 66%;
}

.card-description {
    background-color: pink;
    color: #fff;
    padding-left: 20px;
    margin-top: -67px;
}

.card-details {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.img-container img {
    width: 28rem;
}

.stars {
    color: yellow;
    font-size: 1em;
}

.colors-price {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: -15px;
}

.colors {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    cursor: pointer;
}

.Red {
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.Purple {
    background: purple;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.Orange {
    background: orange;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.pricing {
    display: flex;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
}

.old-price {
    font-weight: 100;
}


/* Botones */

button {
    cursor: pointer;
}

#button {
    background-color: #000;
}

button white-button {
    background-color: #fff;
}

.button-text {
    color: #fff;
    margin-left: 5px;
}

.feedback {
    display: none;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}